#p{
	height: 600px;
	width: 600px;
}


#c1{height: 300px;
width: 400px;
float: left;
background-color: red;
}


#c2{
	height: 600px;
width:200px;
float: right;
background-color: green;
}


#c3{

	height: 300px;
width: 400px;
float: left;
background-color:  blue;
}