a {color: orange;font-family; Monospace;font-size: 22px;line-height: 150%;}
	#aa{color:red; font-size: 30px;background-color: #d5f9b3;position: relative;float: left;margin: 0 auto;width:960px;}

	#bb{color: green; font-size: 22px; background-color: #f2cdf2;position: relative;float: left;margin: 0 auto;width: 960px;}

	#abc{position: absolute;right: 0;height: 734px;background-color: green; z-index: 9999;text-align: center;}