#aa{border:3px; border-style:solid; border-color:#FF0000; padding: 1em; background-color: white;width: 1400px; position: relative;margin: 0 auto;top: 50px;}
#bb{width: 1500px;height: 1500px;position: relative;margin: auto;}
#cc{width:80px; height:80px; position: relative;float: left;left: 25px;top: 18px;border: 3px #000 solid;}
#style{position: relative;margin: 0 auto;margin-left: 70px}
#div2{border:3px; border-style:solid; border-color:#FF0000; padding: 1em; background-color: white; width: 400px;position: relative;margin: 0 auto;}
#pp{text-align:center; color:black;font-size:32px;}